{% extends "base.html" %}
{% block title %}Ampliacions{% endblock %}

{% block content %}

<div class="section" style="z-index: 2; position: relative;padding-top: 0px !important;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 mt-2">
                <div class="card p-2" data-color="red">
                    <div class="card-body">
                        <div class="row">
                            <img src="/static/img/l1_logo.png" alt="Ampliació L1" width="60" class="me-2 pr-2">
                            <h5 class="mb-0">Linea 1 - Ampliació Proposada</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <img src="/static/img/recorregut_l1.jpg" alt="Ampliació L1" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card p-2" data-color="red">
                    <div class="card-body">
                        <div class="row">
                            <img src="/static/img/l12_logo.png" alt="Creació Nova Linea L12" width="60" class="me-2 pr-2">
                            <h5 class="mb-0">Linea 12 - Nova Linea Proposada</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <img src="/static/img/linea12.png" alt="Nova L1" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}