<footer class="footer footer-default py-3" style="height: 15vh;">
    <div class="container">
        <div class="row align-items-center text-center text-md-start">

            <div
                class="col-md-4">
                <div class="row mb-2 mb-md-0 d-flex align-items-center justify-content-center justify-content-md-start">
                    <img src="/static/img/smartmetro_2.png" alt="SmartMetro Logo" width="40" class="me-2 pr-2">
                    <span class="fw-bold gradient-text subtitol">SmartMetro</span><br>
                </div>
                <div class="row">
                    <span>Plataforma intel·ligent per a la gestio del Metro</span>
                </div>


            </div>
            <div class="col-md-2 text-center text-md-end">
                
            </div>
            <div class="col-md-2 text-center text-md-end">
                <span>Joan Marc Samó</span><br>
                <a href="#" class="mx-1"><i class="fab fa-instagram color-red"></i></a>
                <a href="https://www.linkedin.com/in/joan-marc-samo-rojas/" class="mx-1"><i class="fab fa-linkedin color-red"></i></a>
                <a href="#" class="mx-1"><i class="fab fa-github color-red"></i></a>
            </div>
            <div class="col-md-2 text-center text-md-end">
                <span>Arnau López</span><br>
                <a href="#" class="mx-1"><i class="fab fa-instagram color-red"></i></a>
                <a href="https://www.linkedin.com/in/arnau-l%C3%B3pez-herreros-535440269/" class="mx-1"><i class="fab fa-linkedin color-red"></i></a>
                <a href="#" class="mx-1"><i class="fab fa-github color-red"></i></a>
            </div>
            <div class="col-md-2 text-center text-md-end">
                <span>Josep Ma Cases</span><br>
                <a href="#" class="mx-1"><i class="fab fa-instagram color-red"></i></a>
                <a href="https://www.linkedin.com/in/josep-ma-cases-62b538357/" class="mx-1"><i class="fab fa-linkedin color-red"></i></a>
                <a href="#" class="mx-1"><i class="fab fa-github color-red"></i></a>
            </div>
        </div>
        <div class="text-center mt-2 small text-muted">
            ©
            <script>document.write(new Date().getFullYear())</script> SmartMetro · Proposta Deloitte Hackaton UAB 2025
        </div>
    </div>
</footer>