<!-- Navbar -->
<!-- Navbar -->
<nav class="navbar navbar-expand-lg"
  style="background-color: transparent; min-height: 70px; box-shadow: none !important; height: 8vh;">
  <div class="container">
    <div class="row align-items-center w-100">

      <!-- LOGO -->
      <div class="col-6 d-flex align-items-center">
        <a class="navbar-brand d-flex align-items-center" href="/">
          <img src="/static/img/smartmetro_2.png" alt="logo" style="height: 50px; width: auto; object-fit: contain;">
        </a>
        <span class="navbar-text font-weight-bold h5 mb-0 fw-bold gradient-text titol">Smart Metro</span>
      </div>

      <!-- BOTÓ MENÚ -->
      <div class="col-3 d-flex justify-content-end align-items-center">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>

    </div>
    <div class="col-4 collapse navbar-collapse justify-content-end" id="navigation" style="padding-left: 0px;">
      <ul class="navbar-nav">
            <div class="p-2">
              <a href="/map" class="col-12 btn btn-standard btn-round">Mapa</a>
            </div>
            <div class="p-2">
              <a href="/dashboard" class="col-12 btn btn-standard btn-round">Panell de Control</a>
            </div>
      </ul>
    </div>
  </div>
</nav>