<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visor de Mapas (Limpio)</title>
    
    <script src='https://unpkg.com/maplibre-gl@4.1.2/dist/maplibre-gl.js'></script>
    <link href='https://unpkg.com/maplibre-gl@4.1.2/dist/maplibre-gl.css' rel='stylesheet' />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div id="map"></div>

<div class="map-buttons">
    <button id="layers-toggle" title="Gestionar Capas"><i class="fa-solid fa-layer-group"></i></button>
    <button id="toggle-3d" title="Alternar Vista 2D/3D"><i class="fa-solid fa-cube"></i></button>
    <button id="camera-button" title="Generar Foto"><i class="fa-solid fa-camera"></i></button>
</div>

<div id="layers-panel" style="display: none;">
    <h4>Mapa Base</h4>
    <label class="layer-option"><input type="radio" name="base-layer" value="osm" checked> OSM</label>
    <label class="layer-option"><input type="radio" name="base-layer" value="esri-satellite"> Satélite</label>
    <label class="layer-option"><input type="radio" name="base-layer" value="esri-topo"> Topográfico</label>
    <hr>
    <h4>Capas Adicionales</h4>
    <label class="layer-option"><input type="checkbox" id="catastro-checkbox"> Catastro (WMS)</label>
    <label class="layer-option"><input type="checkbox" id="buildings-3d-checkbox" checked> Edificios 3D (BCN)</label>
    
    <label class="layer-option"><input type="checkbox" id="metro-lines-checkbox"> Líneas de Metro</label>
</div>


<script>
    const START_LAT = {{ start_lat }};
    const START_LON = {{ start_lon }};
    const START_ZOOM = {{ start_zoom }};
</script>
<script src="{{ url_for('static', filename='js/map.js') }}"></script>

</body>
</html>