{% extends "base.html" %}
{% block title %}Inici{% endblock %}

{% block content %}
<div id="map" class="">

<div class="map-buttons">
    <button id="layers-toggle" title="Gestionar Capas"><i class="fa-solid fa-layer-group"></i></button>
    <button id="toggle-3d" title="Alternar Vista 2D/3D"><i class="fa-solid fa-cube"></i></button>
    <button id="camera-button" title="Generar Foto"><i class="fa-solid fa-camera"></i></button>
</div>

<div id="layers-panel" style="display: none;">
    <h4>Mapa Base</h4>
    <label class="layer-option"><input type="radio" name="base-layer" value="osm" checked> OSM</label>
    <label class="layer-option"><input type="radio" name="base-layer" value="esri-satellite"> Satélite</label>
    <label class="layer-option"><input type="radio" name="base-layer" value="esri-topo"> Topográfico</label>
    <hr>
    <h4>Capas Adicionales</h4>
    <label class="layer-option"><input type="checkbox" id="catastro-checkbox"> Catastro (WMS)</label>
    <label class="layer-option"><input type="checkbox" id="buildings-3d-checkbox" checked> Edificios 3D (BCN)</label>
    <label class="layer-option"><input type="checkbox" id="metro-lines-checkbox"> Líneas de Metro</label>
    <label class="layer-option"><input type="checkbox" id="metro-stops-checkbox"> Paradas de Metro</label>
    <label class="layer-option"><input type="checkbox" id="population-points-checkbox"> Población (Puntos)</label>
    <label class="layer-option"><input type="checkbox" id="population-heatmap-checkbox"> Población (Mapa Calor)</label>
    
    <label class="layer-option"><input type="checkbox" id="station-demand-checkbox"> Demanda Estaciones</label>
    <label class="layer-option"><input type="checkbox" id="ampliacio-l1-checkbox"> Ampliación L1</label>
    <label class="layer-option"><input type="checkbox" id="l12-checkbox"> Nueva L12</label>

</div>

<div id="heatmap-slider-container" class="map-slider-container" style="display: none;">
    <div>
        <label for="heatmap-radius-slider">Radio</label>
        <input type="range" id="heatmap-radius-slider" min="1" max="35" value="15" step="1">
    </div>
    <div>
        <label for="heatmap-intensity-slider">Intensidad</label>
        <input type="range" id="heatmap-intensity-slider" min="0.01" max="1" value="0.4" step="0.05">
    </div>
</div>


</div>
<script>
    // Variables para las coordenadas iniciales pasadas desde Flask
    const START_LAT = {{ start_lat }};
    const START_LON = {{ start_lon }};
    const START_ZOOM = {{ start_zoom }};
</script>
<script src="static/js/map.js"></script>



{% endblock %}